version: '3.8'

services:

  # --- Servizio Database MySQL ---
  db:
    image: mysql:8.0
    container_name: my_mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: RootPassword!
      MYSQL_DATABASE: cv_management

    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-pRootPassword!"]
      interval: 10s
      timeout: 5s
      retries: 5
      
    volumes:

      - ./init-scripts:/docker-entrypoint-initdb.d:ro

      - db_data:/var/lib/mysql
    networks:
      - app-network



  # --- Servizio Applicazione Python ---
  app:

    build: ./application 
    container_name: my_python_app
    ports:
      - "8080:8080"
      
    environment:

      DB_HOST: db 
      DB_USER: root
      DB_PASSWORD: RootPassword!
      DB_NAME: cv_management
    depends_on:
      db :
        condition: service_healthy
    networks:
      - app-network
    
    volumes:
   
      - upload:/usr/src/app/uploads/cv 



# --- Definizione dei volumi e delle reti ---
volumes:
  db_data:
  upload:

networks:
  app-network:
    driver: bridge


